@import '_base.scss';

$hint-color: $logo-green;

.hint__wrapper_outer {
    position: relative;
}

.hint__wrapper_inner {
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.hint {
    width: 15px;
    height: 15px;
    position: absolute;
    background: $hint-color;
    left: 15px;
    top: 15px;
    border-radius: 100px;

    box-shadow: 0 0 0 0 rgba($hint-color, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba($hint-color, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
