.page {
    display: flex;
}
.editorContainer {
    height: calc(100vh - 65px);
    width: 100%;
}
.editorHeader {
    border-bottom: 1px solid #d5d5d5;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0 0.5rem;
}
