.editor--content > div > div {
    position: initial !important;
}

.image-node--container {
    display: inline-block;
    position: relative;
}

.image-node--container > span:first-child {
    display: none;
}
